#список {
    line-height: 50px;
    resize: none;
    border: none;
    text-decoration: underline;
    font-size: 30px;
}
#текст {
   border-radius: 3px;
   height: 30px;
   width: 200px;
   font-size: 20px;
}
#кнопка {
    height: 30px;
    width: 200px;
    font-size: 20px;
}